<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All chapters</title>
  </head>
  <body>
    <h1>All Chapters</h1>
    <ul>
    <% Chapter.all.each do |chapter| %>
      <li><a href="/chapters/<%=chapter.id%>"><%=chapter.name%></a></li>
    <% end %>
    </ul>
    <a href="/chapters/new">Create a New Chapter</a>
  </body>
</html>
