<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Choose Your Own Adventure Creator</title>
  </head>
  <body>
    <h1>Welcome to the Choose Your Own Adventure Creator</h1>
    <ul>
      <h2>Click <a href="/story"></a> to see the story so far</h2>
    </ul>
  </body>
</html>
